@charset "utf-8";
/* CSS Document */
@import url("fonts.css");
body, .page{
	background:url(../images/page_bg.jpg) repeat;
	color:#fff;	
}
.ui-bar-a {
    background: linear-gradient(#258DCF, #1C71B3) !important;
}
#loading{
	width:29px;
	height:23px;
	background:url(../images/loader.gif) no-repeat;
	display:none;
    left: 50%;
    margin-left: -5%;
    position: absolute;
}
.loginPage-title h1{
	color: #FFFFFF;
    display: inline-block;
	font-family: 'allerregular', sans-serif;
    font-size: 28px;
    line-height: 1.1;
    margin: 30px 0 0;
    padding-top: 60px;
    text-align: center;
    width: 100%;
	background:url(../images/user_icon.png) no-repeat top center;
}

#loginPage input[type=text],
#loginPage input[type=password]{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 0.7em 2.3em;
    width: 76%;
	margin:22px auto;
}
#loginPage input#email{
	background: url("../images/id_icon.png") no-repeat scroll 5px 5px #FFFFFF;
}
#loginPage input#password{
	background: url("../images/password_icon.png") no-repeat scroll 5px 9px #FFFFFF;
}
#loginPage .ui-btn-inner{
    background: #007bd3; /* Old browsers */
	background: -moz-linear-gradient(top, #007bd3 0%, #006fbf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007bd3), color-stop(100%,#006fbf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #007bd3 0%,#006fbf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #007bd3 0%,#006fbf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #007bd3 0%,#006fbf 100%); /* IE10+ */
	background: linear-gradient(to bottom, #007bd3 0%,#006fbf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007bd3', endColorstr='#006fbf',GradientType=0 ); /* IE6-9 */
    border: 1px solid #489fdd;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    margin: 0 auto;
    text-shadow: none;
    width: 188px;
}
#loginPage .ui-btn{
    background: none;
    border: medium none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.ui-bar-a {
    background: linear-gradient(#2D638A, #234F6E) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
h1.ui-title{
	font-size:16px;
	font-family: 'allerregular', sans-serif;
}
#homeBtn{
	background:none;
	box-shadow:0;
	-webkit-box-shadow:0;	
	border:0;
	box-shadow: none;
    top: 7px;
}
#homeBtn span.ui-btn-inner{
    background: url("../images/home_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 33px;
    padding: 0;
    text-indent: -9999px;
    width: 33px;
	border:none;
	border-radius:0;
	-webkit-border-radius:0;
	background-size:85% auto;
}
.ui-footer h4.ui-title {
    font-size: 15px;
    text-shadow: none;
}
#listsIcons{
    list-style-type: none;
    margin: 0px auto;
    padding: 0;
    width: 86%;
}
#listsIcons li{
	display: inline-block;
    margin: 10px 0;
    text-align: center;
    width: 49%;
}
#listsIcons li a{
	display:block;
	text-decoration:none;	
}
#listsIcons li h3{
	color:#fff;
	font-size:19px;
	text-decoration:none;
	font-family: 'allerregular', sans-serif;
	font-weight:normal;
	margin: 10px 0 0;
}
#logoutBtn{
	background:none;
	box-shadow:0;
	-webkit-box-shadow:0;	
	border:0;
	box-shadow: none;
    top: 7px;
}
#logoutBtn span.ui-btn-inner{
    background: url("../images/logout_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 33px;
    padding: 0;
    text-indent: -9999px;
    width: 33px;
	border:none;
	border-radius:0;
	-webkit-border-radius:0;
	background-size:85% auto;
}
.ui-mobile a img, .ui-mobile fieldset {
    width: 60%;
}
.page p{
    font-family: arial,sans-serif;
    font-size: 0.9em;
    font-weight: normal;
    line-height: 1.5;
	text-shadow:none;
}
.ui-content {
    padding: 30px 15px;
}
@media screen and (orientation:landscape) {
	#listsIcons li {
		width: 32%;
	}
}